<div class="container">
    <div>
        <mat-form-field>
            <mat-label>E-mail</mat-label>
            <input matInput type="email" placeholder="Email" [(ngModel)]="user.email">
        </mat-form-field>
    </div>
    <div>
        <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput type="password" [(ngModel)]="user.password">
        </mat-form-field>
    </div>
    <button mat-button (click)="logIn()">Login</button>
    <mat-error *ngIf="showError">
        Username or Password incorrect!
    </mat-error>
    <h2>Don't have an account?</h2>
    <a routerLink="/createuser">Sign Up</a>
</div>