<div class="container">
    <mat-form-field>
        <mat-label>E-mail</mat-label>
        <input matInput type="email" [(ngModel)]="user.email">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput type="text" [(ngModel)]="user.name">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput type="password" [(ngModel)]="user.password">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Confirm password</mat-label>
        <input matInput type="password" [(ngModel)]="user.confirmpassword">
    </mat-form-field>
    <button mat-button (click)="createUser()">Create User</button>
    <mat-error *ngIf="showError">
        {{errorMessage}}
    </mat-error>
</div>